<!DOCTYPE html>
<html>
    <head>
        <title>
            test pdf
        </title>
    </head>
    <body>
        this is test handlebar pdf
        <h1>{{owner_name}}</h1>
        <img src="{{image1}}" height="100px" width="100px" />
        <img src="{{image2}}" height="100px" width="100px" />

        <img src={{image1}} height="100px" width="100px" />
        <img src={{image2}} height="100px" width="100px" />

        <h1>below image not shown</h1>
        <img src={{image1}}/>
        <img src={{image2}}/>
    </body>
</html>